.container {
    width: 333px;
    height: 343px;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}

.screen-cover {
    width: 333px;
    height: 343px;
    background-color: rgb(243, 241, 241);
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#board{
    display: flex;
    flex-wrap: wrap;;
    width: 333px;
}

.tile {
    font-size: 30px;
    width: 33px;
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
}

.cursor {
    cursor: auto;
}

.checked {
    background-color: salmon;
}

.red {
    background-color: red;
    color: red;
    cursor: auto;
}

.blue {
    background-color: blue;
    color: blue;
    cursor: auto;
}

.number {
    font-size: 30px;
    width: 33px;
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 10px;
    margin: 2px;
}

.hide {
    display: none;
}

.info {
    margin: 0 auto;
    width: 350px;
}

.score-and-timer {
    display: flex;
    justify-content: space-between;
}

#score-final {
    position: absolute;
    top: 130px;
    font-size: 30px;
    padding: 20px;
}

#btn {
    width: 250px;
    height: 75px;
    font-size: 25px;
    border-radius: 20px;

}

#pause-btn {
    border: none;
    background-color: #fff;
    font-size: 20px;
}
